.mainContainer {
    height: 100%;
    width: 100%;
    background-color: var(--bg-color);
    color: var(--black);
}

.header {
    height: var(--spacing-8);
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: var(--spacing-0) var(--spacing-4);
    box-shadow: var(--shadow-1);
}

.content {
    padding: var(--spacing-4);
}